nav{
  padding-left: 3cm;
  font-size: 3cm;
  background-color: rgb(240, 137, 11);
  font-family: 'Courier New', Courier, monospace;
  
}
form{
  padding-left: 5cm;
  background-color: rgb(229, 230, 243);

}

body{
  background-color: rgb(85, 79, 81);
  
}
img{
  padding-top: 0cm;
  width: 45cm;
  height: 20cm;
}

p1{
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  align-self: stretch;
  font-size: 2cm;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.price {
  color: grey;
  font-size: 22px;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-image { 
   width:100%;
 }
 

